/* ******************Text Styling************* */

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 125%;
    color: #4b4a4b;
}

footer p {
    color: #d1d4d1;

}

#page-link-container p {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.text-center {
    text-align: center;
}

h3 {
    font-family: 'Lemonada', cursive;
    text-transform: uppercase;
    font-size: 24px;
    color:#d1d4d1;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.nav-menu a {
    color: #d1d4d1;
    font-size: 18px;
    letter-spacing: 0.75px;
}

/* ***************Header Layout************ */

.header-bar {
    background-color: #4b4a4bea;
    width: 100%;
    position: fixed;
    z-index: 500;
}

.logo {
    float: left;
    /* line-height: 30px; */
}

.logo h1 {
    margin: 10px 0 5px 10px;
    font-size: 48px;
    font-family: 'Lobster', cursive;
    font-weight: 300;
    letter-spacing: 4px;
    color:#a08b66;
    line-height: 30px;


}

.logo h3 {
    margin: 0 0 13px 10px;
    line-height: 30px;

}

.nav-menu {
    float: right;
    line-height: 80px;
    margin: 0 0;
}

.nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 15px;
    font-family: 'Lato', sans-serif;
    color: #d1d4d1;
}

#hero-wrapper {
    width: 100%;
    height: 95vh;
    margin-bottom: -25px;
      /* ^^ WORKAROUND - REVISIT THIS ^^ */
    overflow: hidden;
}

/* ***************Splash Images************ */

#hero-img {
    width: 100%;
    height: 95vh;
    background: url("../Images/home-splash.jpg") no-repeat center center;
    z-index: -10;
    position: relative;
    background-size: cover;
}

#activities-splash {
    width: 100%;
    height: 70vh;
    background: url("../Images/activities-splash.jpg") no-repeat center center;
    z-index: -10;
    position: relative;
    background-size: cover;
}

#accommodation-splash {
    width: 100%;
    height: 70vh;
    background: url("../Images/accommodation-splash.jpg") no-repeat center center;
    z-index: -10;
    position: relative;
    background-size: cover;
}

#contact-splash {
    width: 100%;
    height: 775px;
    background: url("../Images/contact-splash.jpg") no-repeat center center;
    z-index: -10;
    position: relative;
    background-size: cover;
}



/* ***************Home Content************ */


/* Code taken from https://css-tricks.com/equidistant-objects-with-css/ */
        #page-link-container,
        #review-container {
            text-align: justify;
        }

        #page-link-container:after,
        #review-container:after {
            content: '';
            width: 100%;
            display: inline-block;
        }

.page-link {
    display: inline-block;
    width: 30%;
    min-width: 400px;
    vertical-align: top;
}

.review {
    display: inline-block;
    width: 40%;
    min-width: 400px;
    vertical-align: top;
}


.page-link {
    min-height: 300px;
}

.page-link-img {
    max-width: 90%;
    min-height: 200px;
    margin: auto;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#page-link-activities {
    background-image: url("../Images/page-link-activities.jpg");
}

#page-link-accommodation {
    background-image: url("../Images/page-link-accommodation.jpg");
}

#page-link-contact {
    background-image: url("../Images/page-link-contact.jpg");
}

#review-container {
    padding: 0 8%;
    background-color: #d1d4d1;
}

.review {
    position: relative;
}

.review-img {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;
}

.review-img img {
    border-radius: 50%;
    height: 100px;
    width: 100px;

}

.review-text {
    width: 70%;
    float: right;
    text-align: left;
    vertical-align: top;
}


#intro-box {
    max-width: 60%;
    margin: 0 auto;
    vertical-align: bottom;
}

/* ***************Activities Content************ */

#activities-intro {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

#activities-intro h3 {
    margin: 0 auto 15px;
}

#activities-intro p {
    margin: 0 auto;
    padding-bottom: 15px;
}

#climbing-container {
    width: 100%;
}

.climbing-info {
    width: 40vw;
    margin: 0 4vw;
    display: inline-block;
    vertical-align: top;
}

.climbing-info h3,
.climbing-info p {
    text-align: center;
}

.climbing-info img {
    width: 80%;
    max-height: 300px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

#trad-climbing img {
    object-position: top;
}

.climbing-list {
    padding-inline-start: unset;
    padding: 0 30px;
}

#other-activities {
    max-width: 75%;
    margin: 0 auto;
    padding-bottom: 15px;
}

#other-activities h3 {
    text-align: center;
}

#other-activities-img {
    width: 30%;
    display: inline-block;
    overflow: hidden;
    max-height: 300px;
}

#other-activities-img img {
    width: 100%; 
}

#other-activities-text {
    width: 65%;
    display: inline-block;
    float: right;
}

.climbing-info li,
#other-activities-list li {
    font-family: 'Lato' , sans-serif;
    color: #4b4a4b;
    list-style-type: none;
}

/* ***************Accommodation Page************ */

#accommodation-intro {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

#accommodation-intro h3 {
    margin: 0 auto 15px;
}

#accommodation-intro p {
    margin: 0 auto;
    padding-bottom: 15px;
}

#accommodation-intro ul {
    padding-left: 0;
}

#accommodation-intro li {
    font-family: 'Lato' , sans-serif;
    color: #4b4a4b;
    list-style-type: none;
    margin-top: 5px;
}

.accommodation-details {
    padding: 20px 40px;
    margin: 0 8vw 20px;
    background-color: #4b4a4b88;
    border-radius: 25px;
}

.accommodation-details h3 {
    text-align: center;
    margin-bottom: 20px;
}

.carousel {
    width: 40%;
    max-height: 30vh;
    display: inline-block;
}

.room-info {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #d1d4d1;
    list-style-type: none;
    line-height: 2.5;
}

.room-info i {
    font-size: 24px;
}

.carousel-item img {
    max-height: 30vh;
    overflow: hidden;
    aspect-ratio: initial;
    margin: 0 auto;
}

.carousel-caption p {
    background-color: #d1d4d1b3;
    color: #4b4a4b;
    border-radius: 8px;
    padding: auto, 0;
    width: 50%;
    margin: auto;
}

#accommodation-content-wrapper {
    padding-bottom: 20px;
}






/* ***************Contact Page************ */

#form-container {
    position: absolute;
    top: 150px;
    background-color: #4b4a4ba6;
    width: 30vw;
    left: 35vw;
    padding: 0 15px 15px 15px;
    border-radius: 15px;
}

#form-container h3 {
    text-align: center;
}

#form-container form label{
    font-family: 'Lato', sans-serif;
    color: #d1d4d1;
    display: block;
    margin: 0 10%;
}

.contact-input {
    width: 80%;
    display: block;
    margin: 0 auto 5px auto;
    background-color: #4b4a4b48;
    border: 1px #a08b66 solid;
    border-radius: 5px;
    color: #d1d4d1;
    font-family: 'Lato', sans-serif;
}

#form-container select option {
    background-color: #4b4a4b;
}

#contact-message,
#contact-submit {
    margin-top: 15px !important;
}

#contact-message {
    max-width: 80%;
    min-width: 80%;
}

#contact-message::placeholder {
    color: #d1d4d1;
}

#contact-submit {
    background-color: #a08b66;
    display: block;
    margin: 0 auto 5px auto;
    border: 1px #a08b66 solid;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    width: 40%;
    padding-bottom: 3px;
    color: #4b4a4b;
    font-family: 'Lato', sans-serif;
}


/* *************************Footer****************** */

.footer-container {
    width: 100%;
    background-color: #4b4a4b;
}

.footer-text {
    width: 50%;
    min-height: 200px;
    float: left;
}

.footer-map {
    width: 50%;
    min-height: 200px;
    float: right;
}

.footer-map iframe {
    float: right;
    width: 94%;
    height: 94%;
    padding: 3%;
    border: none;
}

.footer-copyright {
    width: 100%;
    display: inline-block;
}

.footer-copyright p {
    vertical-align: middle;
}

.footer-text p, 
.footer-copyright p {
    padding-left: 10px;
}

.social-icon-list {
    list-style-type: none;
    text-align: center;
}

.social-icon-list li {
    display: inline;
    letter-spacing: 5vw;
    font-size: 26px;
}

.social-icon-list a {
    color: #a08b66;
}

.footer-container p {
    margin: 15px 0;
}




/* **********************Placeholder Code******************* */


body {
    margin: 0;
}

#page-link-container {
    margin-top: 15px;

}

#home-content-wrapper,
#activities-content-wrapper,
#accommodation-content-wrapper {
    background-color: #7db1b5;
}


hr {
    width: 80vw;
    border: 1px solid #4b4a4b;

}

/* **********************Animations******************* */

.nav-menu a:hover {
    color: #A08B66;
}

.social-icon-list a:hover {
    color: #d1d4d1;
}

@keyframes hero-img-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

#hero-img {
    animation-name: hero-img-zoom;
    animation-duration: 3s;
}

.page-link-img:hover {
    transform: scale(1.05);
}

.contact-input:hover {
    border: 1px #d1d4d1 solid;
}

#contact-submit:hover {
    border: 2px solid #d1d4d1;
}


/* **********************Tablet Media Styles******************* */

@media screen and (max-width: 1250px) {

    .logo, .nav-menu {
        width: 100%;
        text-align: center;
        float: none;
        padding: unset;
    }

    .nav-menu {
        line-height: 50px;
    }

    .nav-menu li {
        float:none;
        display: inline;
    }
    
    .page-link {
        margin: 0 5vw;
        min-width: 260px;
    }

    #contact-container {
        margin: 0 30vw;
        width: 40vw;
    }

    .review-img {
        width: 100%;
        text-align: center;
    }

    .review-text {
        width: 100%;
        text-align: center;
    }

    .review {
        min-width: 280px;
    }

    #activities-intro,
    #accommodation-intro,
    #other-activities {
        max-width: 80%;
    }

    .climbing-list {
        padding: 0;
    }





    #form-container {
        width: 60vw;
        left: 20vw;
        padding: 0 5px 15px 5px;
        top: 175px;
    }






    
}

/* **********************Mobile Media Styles******************* */

@media screen and (max-width: 720px) {

    .logo h3 {
        font-size: 20px;
        margin: 0 10px 0 10px;
    }

    .page-link,
    #contact-container {
        text-align: center;
        margin: 0 5vw;
        width: 90vw;
    }

    .current-page {
        display: none !important;
    }

    .nav-menu {
        line-height: 35px;
    }

    .nav-menu a {
        font-size: 16px;
    }

    .nav-menu li {
        margin: 0 5px;
    }

    #review-container {
        padding: 0;
    }

    .review {
        margin: 0 10%;
        width: 80%;
    }

    .footer-text,
    .footer-map {
        width: 100%;
    }

    .climbing-info {
        width: 90%;
    }

    .climbing-list {
        text-align: center;
    }

    .accommodation-details {
        margin: 0 4vw 20px;
        padding: 20px 20px;
    }

    .carousel {
        display: block;
        width: 100%;
    }

    .room-info {
        display: block;
        width: 100%;
        padding: 10px 0 0 30px;
        margin: 0;
    }



    





    #form-container {
        width: 80vw;
        left: 10vw;
        padding: 0 0 15px 0;
    }

}
